<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('categories') }}">Categories</a>
            <a href="{{ url_for('transactions') }}">Transactions</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('set_budget') }}">Set Budget</a>
        </div>
        <div class="theme-toggle">
            <button onclick="toggleTheme()">
                <span class="moon">🌙</span>
                <span class="sun">🌞</span>
            </button>
        </div>
    </nav>

    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>

    <script>
    function toggleTheme() {
        document.body.classList.toggle('light-theme');
    }
    </script>
</body>
</html>
